<p style="color: green"><%= notice %></p>

<h1>Todolists</h1>

 <table border=1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Items</th>
       <th>Edit</th>
        <th>Delete</th>
         <th>Manage Items</th>
    </tr>
  </thead>
    <tbody>
  <% @todolists.each do |todolist| %>
    <tr>
      <td><%=  todolist.title %> </td>
      <td><%=  todolist.description %></td> 
      <td><%=  Todolist.to_items(todolist) %></td> 
      <td>  <%= link_to "Edit ", edit_todolist_path(todolist.id) %> </td>
       <td>  <%= link_to "Destroy",todolist_manualDelete_url(todolist)%> </td>        
       <td>  <%= link_to 'Manage Item', todolist_todoitems_path(todolist) %> </td>       
    </tr>
  <% end %>       
  </tbody>
</table>
<br>
<%= link_to "New Todolist", new_todolist_path %>
